@import "tailwindcss";

/* For Animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite alternate;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ADDING FONTS */
@font-face {
  font-family: "sf_pro_regular";
  src: url("/fonts/sf_pro/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSans_Regular";
  src: url("/fonts/InstrumentSans/InstrumentSans-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* STYLING ELEMENTS */
body {
  background: #FAFBFB;
  color: var(--foreground);
  font-family: "sf_pro_regular", Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: 0 0 #0000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="date"] {
  appearance: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 #0000;
}


/* OTHER STYLING */
.InstrumentSans_Regular{
  font-family: "InstrumentSans_Regular", "sf_pro_regular", Arial, Helvetica, sans-serif;
}

/* Customize Scroll Bar */
/* Custom scroll class */
.custom_scroll::-webkit-scrollbar {
  width: 2px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background-color: #9096a0; /* Tailwind gray-700 */
  border-radius: 2px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #edf2f7; /* Tailwind gray-100 */
}

/* Firefox compatibility */
.custom_scroll {
  scrollbar-width: thin;
  scrollbar-color: #9096a0 #edf2f7;
}

